.typix-collapsible {
  background: var(--typix-bg-white, #fcfcfc);
  border: 1px solid var(--typix-border-color-light, #eee);
  border-radius: 10px;
  margin-bottom: 8px;
}

.typix-collapsible__title {
  cursor: pointer;
  padding: 5px 5px 5px 20px;
  position: relative;
  font-weight: bold;
  list-style: none;
  outline: none;
}

.typix-collapsible__title::marker,
.typix-collapsible__title::-webkit-details-marker {
  display: none;
}

.typix-collapsible__title:before {
  border-style: solid;
  border-color: transparent;
  border-width: 4px 6px 4px 6px;
  border-left-color: var(--typix-color-text, #000);
  display: block;
  content: "";
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
}

.typix-collapsible[open] > .typix-collapsible__title:before {
  border-color: transparent;
  border-width: 6px 4px 0 4px;
  border-top-color: var(--typix-color-text, #000);
}

.typix-collapsible__content {
  padding: 0 5px 5px 20px;
}

.typix-collapsible--collapsed .typix-collapsible__content {
  display: none;
  user-select: none;
}
