@use "sass:map";
@use "../foundation/variables" as *;

:root {
  // Colors
  --typix-color-text: #{map.get($typix-colors, "text")};
  --typix-color-text-muted: #{map.get($typix-colors, "text-muted")};
  --typix-color-placeholder: #{map.get($typix-colors, "placeholder")};
  --typix-color-caret: #{map.get($typix-colors, "caret")};
  --typix-color-link: #{map.get($typix-colors, "link")};
  --typix-color-selection: #{map.get($typix-colors, "selection")};
  --typix-color-hashtag-bg: #{map.get($typix-colors, "hashtag-bg")};
  --typix-color-hashtag-border: #{map.get($typix-colors, "hashtag-border")};

  // Keyword
  --typix-keyword-bg: #{map.get($typix-keyword, "bg")};
  --typix-keyword-color: #{map.get($typix-keyword, "color")};
  --typix-keyword-border: #{map.get($typix-keyword, "border")};
  --typix-keyword-radius: #{map.get($typix-keyword, "radius")};
  --typix-keyword-padding: #{map.get($typix-keyword, "padding")};

  // Highlight
  --typix-color-highlight-bg: #{map.get($typix-colors, "highlight-bg")};
  --typix-color-highlight-border: #{map.get($typix-colors, "highlight-border")};
  --typix-color-highlight-selected-bg: #{map.get($typix-colors, "highlight-selected-bg")};
  --typix-color-highlight-selected-border: #{map.get($typix-colors, "highlight-selected-border")};
  --typix-color-mark-bg: #{map.get($typix-colors, "mark-bg")};
  --typix-color-mark-border: #{map.get($typix-colors, "mark-border")};
  --typix-color-mark-overlap-bg: #{map.get($typix-colors, "mark-overlap-bg")};
  --typix-color-mark-overlap-border: #{map.get($typix-colors, "mark-overlap-border")};
  --typix-color-special-bg: #{map.get($typix-colors, "special-bg")};
  --typix-color-character-limit: #{map.get($typix-colors, "character-limit")};

  // Character Limit Counter
  --typix-character-limit-counter-color: #{map.get($typix-character-limit-counter, "color")};
  --typix-character-limit-warning-color: #{map.get($typix-character-limit-counter, "warning-color")};
  --typix-character-limit-exceeded-color: #{map.get($typix-character-limit-counter, "exceeded-color")};
  --typix-color-autocomplete: #{map.get($typix-colors, "autocomplete")};

  // Backgrounds
  --typix-bg-code: #{map.get($typix-backgrounds, "code")};
  --typix-bg-code-gutter: #{map.get($typix-backgrounds, "code-gutter")};
  --typix-bg-white: #{map.get($typix-backgrounds, "white")};

  // Inline Code
  --typix-bg-inline-code: #{map.get($typix-backgrounds, "inline-code")};
  --typix-color-inline-code: #{map.get($typix-inline-code, "color")};
  --typix-border-color-inline-code: #{map.get($typix-inline-code, "border-color")};
  --typix-radius-inline-code: #{map.get($typix-inline-code, "radius")};
  --typix-padding-inline-code: #{map.get($typix-inline-code, "padding")};

  // Borders
  --typix-border-color: #{map.get($typix-borders, "color")};
  --typix-border-color-light: #{map.get($typix-borders, "color-light")};
  --typix-border-color-code-gutter: #{map.get($typix-borders, "color-code-gutter")};
  --typix-color-code-gutter-text: #{map.get($typix-borders, "color-code-gutter-text")};

  // Quote
  --typix-color-quote-text: #{map.get($typix-colors, "quote-text")};
  --typix-color-quote-border: #{map.get($typix-colors, "quote-border")};
  --typix-quote-bg: #{map.get($typix-quote, "bg")};
  --typix-quote-border-width: #{map.get($typix-quote, "border-width")};
  --typix-quote-radius: #{map.get($typix-quote, "radius")};

  // HR
  --typix-hr-color: #{$typix-hr-color};

  // Block Cursor
  --typix-block-cursor-color: #{$typix-block-cursor-color};
}
