.typix-editor-scroller {
  min-height: 150px;
  max-width: 100%;
  border: 0;
  display: flex;
  position: relative;
  outline: 0;
  z-index: 0;
  resize: vertical;
}

.typix-editor {
  flex: auto;
  max-width: 100%;
  position: relative;
  resize: vertical;
  z-index: -1;
}

.typix-editor-contenteditable {
  min-height: 150px;
  resize: none;
  font-size: var(--typix-font-size);
  line-height: var(--typix-line-height);
  letter-spacing: var(--typix-letter-spacing);
  color: var(--typix-color-text);
  caret-color: var(--typix-color-caret);
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: var(--typix-spacing-contenteditable-y)
    var(--typix-spacing-contenteditable-x);
}

.typix-editor-placeholder {
  color: var(--typix-color-placeholder);
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: var(--typix-spacing-contenteditable-y);
  left: var(--typix-spacing-contenteditable-x);
  font-size: var(--typix-font-size);
  user-select: none;
  display: inline-block;
  pointer-events: none;
}
