.typix-tab {
  position: relative;
  text-decoration: none;
}

.typix-tab.typix-text--underline::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.15em;
  border-bottom: 0.1em solid currentColor;
}

.typix-tab.typix-text--strikethrough::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0.69em;
  border-top: 0.1em solid currentColor;
}

.typix-tab.typix-text--underline-strikethrough::before,
.typix-tab.typix-text--underline-strikethrough::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.typix-tab.typix-text--underline-strikethrough::before {
  top: 0.69em;
  border-top: 0.1em solid currentColor;
}

.typix-tab.typix-text--underline-strikethrough::after {
  bottom: 0.05em;
  border-bottom: 0.1em solid currentColor;
}
