@use "../foundation/mixins" as *;

.typix-text--bold {
  font-weight: bold;
}

.typix-text--italic {
  font-style: italic;
}

.typix-text--underline {
  text-decoration: underline;
}

.typix-text--strikethrough {
  text-decoration: line-through;
}

.typix-text--underline-strikethrough {
  text-decoration: underline line-through;
}

.typix-text--subscript {
  font-size: 0.8em;
  vertical-align: sub !important;
}

.typix-text--superscript {
  font-size: 0.8em;
  vertical-align: super;
}

.typix-text--code {
  background-color: var(--typix-bg-inline-code);
  color: var(--typix-color-inline-code);
  padding: var(--typix-padding-inline-code);
  border-radius: var(--typix-radius-inline-code);
  border: 1px solid var(--typix-border-color-inline-code);
  font-family: var(--typix-font-family-code);
  font-size: var(--typix-font-size-inline-code);

  @include dark-mode {
    --typix-bg-inline-code: rgba(255, 255, 255, 0.08);
    --typix-border-color-inline-code: rgba(255, 255, 255, 0.14);
  }
}

.typix-text--highlight {
  background: var(--typix-color-highlight-bg);
  border-bottom: 2px solid var(--typix-color-highlight-border);
}

.typix-text--lowercase {
  text-transform: lowercase;
}

.typix-text--uppercase {
  text-transform: uppercase;
}

.typix-text--capitalize {
  text-transform: capitalize;
}
